.search-input {
  width: 250px;
  padding: 10px 0;
  border: 5px solid #fef5ac;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    #0000004d 0px 3px 7px -3px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  padding: 12px 15px;
  background-color: #97d2ec;
  color: #fff;
  border-radius: 10px;
  border: none;
}
